
    <!-- Start your project here-->
<!-- <div style="height: 100vh">
  <div class="flex-center flex-column">
    <h1 class="animated fadeIn mb-4">Material Design for Bootstrap (Angular)</h1>

    <h5 class="animated fadeIn mb-3">Thank you for using our product. We're glad you're with us.</h5>
    <h6 class="animated fadeIn mb-3">Start browsing <a href="https://mdbootstrap.com/angular">documentation</a>.</h6>

    <p class="animated fadeIn text-muted">MDB Team</p>
    <button mat-raised-button>Hello World</button>
  </div>
</div> -->
<!-- /Start your project here-->


<!-- <app-pi-chart></app-pi-chart> -->

<!-- <app-rating-board></app-rating-board> -->

<!-- <app-progress-bar></app-progress-bar>

 <br>

 <app-line-chart></app-line-chart> -->


 <!-- <app-line-chart-too></app-line-chart-too> -->

 <!-- <app-line-chart-three></app-line-chart-three> -->

 <app-google-maps></app-google-maps>