agm-map {
    height: 500px;
  }
  
  .alert {
    background: #f14343;
    color: white;
    padding: 15px;
    border-radius: 5px;
  }
  
  .location {
    background: green;
    margin-top: 20px;
  }
  
  .container {
    padding-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  
  .table td {
    font-size: 1.3rem;
    font-weight: 300;
  }
  
  table th {
    font-size: 1.5rem;
    font-weight: 300;
  }
  
  .p{
    font-size: 1.5rem;
    font-weight: 300;
  }